<template>
  <div id="app">
    <div class="row between-md">
      <ui-toolbar class="col-md-12 fixed">
        <h3 class="col-md-5">
          مهام
          <span style="font-size: .8em" v-if="title"> <small>| {{ title }}</small></span>
        </h3>

        <ui-button
          color="primary"
          type="flat"
          raised disabled
          class="toolbar-counter"
        >
          {{ present(counter) }}
        </ui-button>
      </ui-toolbar>
    </div>
    <div class="app-content">
      <router-view></router-view>
    </div>
  </div>
</template>
<script>
  import TimePresenter from 'tools/TimePresenter'
  import { UiToolbar, UiButton } from 'keen-ui'

  export default {
    data () {
      return {
        counter: null,
        title: ''
      }
    },
    events: {
      'timer-count-up': function (counter) {
        this.counter = counter
      },
      'timer-stop': function (counter) {
        this.counter = 0
      },
      'set-title': function (title) {
        this.title = title
      },
      'nav-icon-clicked': function () {
        this.$router.go('/')
      }
    },
    methods: {
      present (counter) {
        return TimePresenter.decorateMinutes(counter)
      }
    },
    components: {UiToolbar, UiButton}
  }
</script>
<style lang="stylus">
  .ui-icon-button.register-button
    z-index: 3
    position: fixed
    right: 8em
    top: 1.25em
  .ui-icon-button.back-button
    z-index: 3
    position: fixed
    right: 3em
    top: 1.25em
  .app-content
    padding-top: 3.5em
  .fixed
    position: fixed
    top: .5em
    width: 95vw
    left: 2.5vw
    z-index: 2
  .toolbar-counter
    display: flex
    align-self: center
    margin-left: 2em
</style>
