<template>
  <store-project></store-project>
  <ui-icon-button
    color="primary" icon="edit"
    tooltip="تسجيل مشروع جديد" class="register-button" @click="toggleProjectForm()"
  ></ui-icon-button>
  <div class="row center-md">
    <div class="col-md-9">
      <table class="table table-hover table-striped">
        <thead>
          <tr class="row">
            <th class="col-md-6">إسم المشروع</th>
            <th class="col-md-3">تاريخ البدأ</th>
            <th class="col-md-3"></th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="project in projects" class="row">
            <td class="col-md-6">
              {{ project.title }}
            </td>
            <td class="col-md-3">
              {{ project.startedAt.toDateString() }}
            </td>
            <td class="col-md-3">
              <ui-icon-button
                color="primary"
                icon="link"
                class="small"
                tooltip="عرض تفاصيل المشروع"
                @click="goToProjectBoard(project.title)"
              ></ui-icon-button>
              <ui-icon-button
                color="info"
                icon="refresh"
                class="small"
                tooltip="تحديث المشروع"
                @click="updateProject(project)"
              ></ui-icon-button>
              <ui-icon-button
                color="danger"
                icon="remove"
                class="small"
                tooltip="حذف المشروع"
                @click="showConfirm(project)"
              ></ui-icon-button>
            </td>
          </tr>
          <tr v-show="!projects.length">
            <td colspan="3" class="message">
              there is not projects in the application
            </td>
          </tr>
        </tbody>
      </table>
      <ui-confirm
        header="حذف المشروع" type="danger" confirm-button-text="حذف"
        confirm-button-icon="delete" deny-button-text="إلغاء" @confirmed="deleteProject(deletedProjectInfo)"
        @denied="deletedProjectInfo = {}" :show.sync="confirmModal" close-on-confirm
      >
        هل أنت متأكد أنك تريد حذف مشروع <i>{{ deletedProjectInfo.title }}</i> و جميع محتوياته
        <br><strong>هذه العملية لا يمكن التراجع عنها</strong>
      </ui-confirm>
    </div>
  </div>
</template>

<script>
import StoreProject from 'components/store-project'
import Store from 'src/store/dao'
import utils from 'src/utils'
import { UiIconButton, UiConfirm } from 'keen-ui'
export default {
  name: 'Projects-List',
  data () {
    return {
      projects: [],
      confirmModal: false,
      deletedProjectInfo: {}
    }
  },
  ready () {
    Store.fetchAllProjects((err, projects) => {
      utils.errors(err)
      this.projects = projects
    })
  },
  methods: {
    toggleProjectForm () {
      this.$broadcast('show-project-modal')
    },
    goToProjectBoard (title) {
      this.$router.go({params: {title}, name: 'stories-board'})
    },
    updateProject (project) {
      this.$broadcast('show-project-modal', project)
    },
    deleteProject (project) {
      Store.removeProject(project,
        (err, count) => {
          utils.errors(err)
          this.projects.forEach((el, index) => {
            if (el._id === project._id) {
              this.projects.splice(index, 1)
            }
          })
        },
        (err, count) => {
          utils.errors(err)
          utils.notify('لقد تم حذف المشروع بنجاح')
        }
    )
    },
    showConfirm (project) {
      this.deletedProjectInfo = project
      this.confirmModal = true
    }
  },
  events: {
    'project-saved': function (project) {
      this.projects.unshift(project)
      utils.notify('لقد تم تسجيل المشروع بنجاح')
    },
    'project-updated': function (project) {
      this.projects.forEach((el, index) => {
        if (el._id === project._id) {
          this.projects[index].title = project.title
          utils.notify('لقد تم تحديث المشروع بنجاح')
        }
      })
    }
  },
  components: { StoreProject, UiIconButton, UiConfirm }
}
</script>
<style lang="stylus">
  table
    margin-top: 1em

  td,tr,th
    vertical-align: middle !important
    text-align: left !important
  .message
    text-align: center
    font-weight: bold
    color: rgba(0, 0, 255, 0.5)
  .small
    width: 2em
    height: 2em
  .ui-button-icon
    margin: auto .2em
</style>
