<template>
  <div class="stories stories-board">
    <ui-icon-button
      v-if="$route.path !== '/'" class="back-button" type="clear"
      color="black" @click="$router.go('/')" icon="arrow_back" tooltip="الرجوع لقائمة المشاريع"
    ></ui-icon-button>
    <story></story>
    <story v-for="story in stories" :story="story"></story>
  </div>
</template>
<script>
import Story from 'components/Story'
import Store from 'src/store/dao'
import {UiIconButton} from 'keen-ui'

export default {
  name: 'Stories',
  ready () {
    this.fetchStories(this.$route.params.title)
    this.$dispatch('set-title', this.$route.params.title)
  },
  components: { Story, UiIconButton },
  data () {
    return {
      stories: []
    }
  },
  methods: {
    fetchStories (title) {
      Store.fetchProjectStories((err, stories) => {
        if (err) console.error(err)
        this.stories = stories || []
      }, {project: title})
    },
    addStory (story) {
      this.stories.unshift(story)
    }
  },
  events: {
    'story-saved': function (story) {
      this.addStory(story)
    }
  }
}
</script>
<style lang="stylus">
  .stories
    width: 1100px
    margin: 0 auto
  .stories-board
    column-count: 3
    .story
      width: 95% !important
</style>
