<template>
<div class="story-details">
  <story class="col-md-4" :story="info"></story>
  <ui-icon-button
    color="primary" icon="edit" @click="toggleCriteriaForm()"
    tooltip="تسجيل معيار القياس" class="register-button"
  ></ui-icon-button>
  <ui-icon-button
    v-if="$route.path !== '/'" class="back-button" type="clear" tooltip="الرجوع لقائمة أهداف المشروع"
    color="black" @click="$router.go(`/p/${info.project}`)" icon="arrow_back" tooltip-position="bottom left"
  ></ui-icon-button>

  <update-task></update-task>
  <update-criteria :story-id="info._id"></update-criteria>

  <criterias v-if="info._id" :story-id="info._id" :list="info.acceptanceCriteries"></criterias>

  <ui-confirm
    header="حذف معيار القياس" type="danger" confirm-button-text="حذف"
    confirm-button-icon="delete" deny-button-text="إلغاء" @confirmed="broadcastCriteriaDeletion(deletedCriteriaInfo)"
    @denied="deletedCriteriaInfo = {}" :show.sync="criteriaDeletionModal" close-on-confirm
  >
    هل أنت متأكد أنك تريد حذف <i>{{ deletedCriteriaInfo.description }}</i> مع جميع المهام المرتبطة به
    <br><strong>هذه العملية لا يمكن التراجع عنها</strong>
  </ui-confirm>
  <ui-confirm
    header="حذف مهمة" type="danger" confirm-button-text="حذف"
    confirm-button-icon="delete" deny-button-text="إلغاء" @confirmed="broadcastTaskDeletion(deletedTaskInfo)"
    @denied="deletedTaskInfo = {}" :show.sync="taskDeletionModal" close-on-confirm
  >
     هل أنت متأكد أنك تريد حذف مهمة <i>{{ deletedTaskInfo.details }}</i>
    <br><strong>هذه العملية لا يمكن التراجع عنها</strong>
  </ui-confirm>
  <ui-fab
    color="default" icon="clear" class="medium fab-story"
    tooltip="حذف الهدف (القصة) و كل تفاصيلها" tooltip-position="bottom center"
    @click="storyDeletionModal = true" style="top: 5em"
  ></ui-fab>
  <ui-confirm
    header="حذف الهدف (القصة)" type="danger" confirm-button-text="حذف"
    confirm-button-icon="delete" deny-button-text="إلغاء" @confirmed="removeStory(info)"
    :show.sync="storyDeletionModal" close-on-confirm
  >
    هل أنت متأكد أنك تريد حذف هذا الهدف (القصى) وكل تفاصيلها
    <br><strong>هذه العملية لا يمكن التراجع عنها</strong>
  </ui-confirm>

</div>
</template>

<script>
import Store from 'src/store/dao'
import Story from 'components/Story'
import updateTask from 'components/update-task'
import updateCriteria from 'components/update-criteria'
import Criterias from 'components/Criterias'
import { UiModal, UiIconButton, UiConfirm, UiFab } from 'keen-ui'
import utils from 'src/utils'

export default {
  name: 'StoryDetails',
  ready () {
    this.info = {}
    Store.fetchStory(this.$route.params.id, (err, story) => {
      if (err) console.error(err)
      this.info = story
    })
  },
  data () {
    return {
      info: {},
      storyDeletionModal: false,
      deletedCriteriaInfo: {},
      criteriaDeletionModal: false,
      deletedTaskInfo: {},
      taskDeletionModal: false
    }
  },
  methods: {
    toggleCriteriaForm () {
      this.$broadcast('show-criteria-form', {updateOperation: false, storyId: this.info._id})
    },
    broadcastCriteriaDeletion (criteria) {
      this.$broadcast('delete-criteria-command', criteria)
    },
    broadcastTaskDeletion (task) {
      this.$broadcast('delete-task-command', task)
    },
    removeStory (info) {
      let project = info.project
      Store.removeStory(info._id, (err, count) => {
        utils.errors(err)
        if (count > 0) {
          utils.notify('لقد تم حذف الهدف (القصة) بكل تفاصيلها بنجاح')
          this.$router.go({name: 'stories-board', params: {title: project}})
        }
      })
    }
  },
  components: {Story, UiModal, UiIconButton, UiConfirm, UiFab, Criterias, updateTask, updateCriteria},
  events: {
    'show-update-task-modal': function (taskInfo) {
      this.$broadcast('show-update-task-modal', taskInfo)
    },
    'show-criteria-form': function (taskInfo) {
      this.$broadcast('show-criteria-form', taskInfo)
    },
    'push-criteria': function (criteria) {
      this.info.acceptanceCriteries.push(criteria)
    },
    'story-data-updated': function (storyId) {
      Store.fetchStory(storyId, (err, docs) => {
        utils.errors(err)
        this.info = docs
      })
    },
    'delete-criteria-request': function (criteria) {
      this.deletedCriteriaInfo = criteria
      this.criteriaDeletionModal = true
    },
    'delete-task-request': function (task) {
      this.deletedTaskInfo = task
      this.taskDeletionModal = true
    }
  }
}
</script>

<style lang="stylus" scoped>
  .story-details
    margin: auto 2em
    .story
      margin-left: 0
      margin-right: 0
      padding-left: 0
      min-width: 33%
      width: auto
  hr
    margin: .5em
    border: #eee 1px ridge
  .pull-right
    position: absolute
    right: 5em
    top: 1.25em
  .medium
    font-size: 1em
    width: 2.7em
    height: 2.7em
  .fab-story
    position: absolute
    left: 27em !important
    top: 6.7em !important
</style>
