  <template>
  <div class="ui-card" tabindex="-1">
    <slot></slot>
    <div class="ui-card-footer" v-if="!hideFooter">
      <slot name="footer"></slot>
    </div>
  </div>
</template>
<style lang="stylus">
@import '~keen-ui/src/styles/imports'

.ui-card
  background-color: white
  border-radius: 2px
  box-shadow: 0 2px 8px alpha(gray, 0.33)
  font-family: $font-stack
  font-size: 14px
  outline: none
  overflow-x: hidden
  overflow-y: auto
  padding: .5%

  &-footer
    bottom:0
    align-items: flex-end
    margin-top: -8px
    padding: 10px
    padding-top: 8px

    &,[slot]
      display: flex
      justify-content: flex-start

    &-left, [slot] &-left
      justify-content: flex-start

  .ui-button
    margin-left: 8px
    &:first-child
      margin-left: 0
</style>
<script>
import {UiIconButton, UiButton} from 'keen-ui'

export default {
  name: 'ui-card',
  props: {
    type: {
      type: String,
      default: 'normal',
      coerce (type) {
        return 'ui-card-' + type
      }
    },
    hideFooter: {
      type: Boolean,
      default: false
    }
  },
  components: {
    UiIconButton,
    UiButton
  }
}
</script>
