<template>
  <div class="criteria-board">
    <div class="criteria" v-for="(criteriaIndex, criteria) in list">
      <criteria :info="criteria" :keys="prepareKeys(criteriaIndex, storyId)"></criteria>
    </div>
  </div>
</template>

<script>
import Criteria from 'components/Criteria'

export default {
  props: {
    list: {
      type: Array,
      required: true
    },
    storyId: {
      type: String,
      required: true
    }
  },
  methods: {
    prepareKeys (criteria, story) {
      return { criteria, story }
    }
  },
  events: {
    'add-task-to-criteria': function (info) {
      this.list[info.criteria.id].tasks.push(info.task)
    },
    'remove-criteria': function (id) {
      this.list.splice(id, 1)
    }
  },
  components: { Criteria }
}
</script>
<style lang="stylus">
  .criteria-board
    column-count: 2
    height: auto
    .criteria
      width: 95% !important
      break-inside: avoid
  .ui-collapsible
    margin-top: .5em !important
    margin-bottom: 0 !important
  .ui-collapsible:first-child
    margin-top: 0
</style>
