<template>
  <div class="criteria-container">
    <div class="row end-md">
      <div class="col-md-1" v-show="showCriteria">
        <ui-fab
          color="primary" class="medium fab" icon="edit"
          tooltip="تحديث معيار القياس"  tooltip-position="top center"
          @click="toggleCriteriaForm()" style="top: 2em"
        ></ui-fab>
        <ui-fab
          color="default" icon="clear" class="medium fab"
          tooltip="حذف معيار القياس" tooltip-position="bottom center"
          @click="deleteCriteriaRequest(info)" style="top: 5em"
        ></ui-fab>
      </div>
    </div>
    <ui-collapsible :id="`criteria${keys.criteria}`" :open="true">
      <div class="criteria-header" slot="header">
        <div class="description">
          {{ info.description }}
        </div>
        <div style="timestamp">
          {{ spentTime }}
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="tasks">
            <ui-textbox
              name="newTask"
              :id="`id${keys.criteria}`"
              :value.sync="newTask[keys.criteria]"
              placeholder="تفاصيل المهمة" icon="edit" hide-label
              @keydown-enter="saveTask(info.description, newTask[keys.criteria], keys.criteria)"
            ></ui-textbox>
            <div v-if="info.tasks.length > 0">
              <task
                v-for="(key, task) in info.tasks"
                track-by="$index"
                class="row"
                :info="task"
                :keys="generateKeys(keys.criteria, key, keys.story)"
              ></task>
            </div>
          </div>
        </div>
      </div>
    </ui-collapsible>
  </div>
</template>
<script>
  import { UiTextbox, UiCollapsible, UiFab } from 'keen-ui'
  import Task from 'components/Task'
  import Store from 'src/store/dao'
  import utils from 'src/utils'
  import TimePresenter from 'tools/TimePresenter'

  export default {
    props: {
      info: {
        type: Object,
        required: true
      },
      keys: {
        type: Object,
        required: true
      }
    },
    data: function () {
      return {
        newTask: [],
        localCounter: 0,
        showCriteria: true
      }
    },
    methods: {
      toggleCriteriaForm () {
        this.$dispatch('show-criteria-form', {details: this.info.description, keys: this.keys})
      },
      removeCriteria (storyId, criteria) {
        Store.removeCriteria(storyId, criteria, (err, number) => {
          utils.errors(err)
          this.$dispatch('remove-criteria', {id: criteria.id})
          utils.notify('لقد تم حذف معيار القياس للهدف (القصة) بنجاح')
        })
      },
      deleteCriteriaRequest (criteria) {
        this.$dispatch('delete-criteria-request', criteria)
      },
      calcSpentTime (criteria) {
        let time = 0
        criteria.tasks.forEach((task) => {
          if (task.timePeriod) {
            time += task.timePeriod
          }
        })

        return time
      },
      criteriaRange () {
        let counter = []
        for (var i = 1; i <= this.list.length; i++) {
          counter.push(i)
        }
        return counter
      },
      generateKeys (criteriaIndex, taskKey, storyId) {
        return {
          criteriaIndex,
          key: taskKey,
          storyId
        }
      },
      saveTask (description, taskDetails, id) {
        // prepare task
        let task = {details: taskDetails, active: false, timePeriod: 0}
        let criteria = {id, description}
        // store it in db
        Store.saveTask(criteria, task, (err, count, documents) => {
          utils.errors(err)
          this.$dispatch('add-task-to-criteria', {criteria, task})
          // clean new task of this criteria
          this.newTask[id] = ''
          this.$broadcast('ui-input::reset', `id${id}`)

          // broadcast to change collapsable body height
          this.$broadcast('ui-collapsible::refresh-height', `criteria${id}`)
          utils.notify('لقد تم حفظ تفاصيل المهمة بنجاح')
        })
      }
    },
    computed: {
      spentTime () {
        return TimePresenter.decorateMinutes(this.calcSpentTime(this.info) + this.localCounter)
      }
    },
    events: {
      'timer-count-up': function (counter) {
        // add 1 because and not to use counter it self
        // because the the calcuated counter already had included before counter start
        // and behind the scene when it is saved will be the same
        this.localCounter += 1
      },
      'opened': function () {
        this.showCriteria = true
      },
      'closed': function () {
        this.showCriteria = false
      },
      'delete-criteria-command': function (criteria) {
        this.removeCriteria(this.keys.story, this.info)
      },
      'remove-task': function (id) {
        this.info.tasks.splice(id, 1)
      }
    },
    components: { Task, UiTextbox, UiCollapsible, UiFab }
  }
</script>
<style lang="stylus" scoped>
  .criteria-container
    position: relative
    break-inside: avoid
  .ui-collapsible-body
    width: auto
  .criteria-header
    position: relative
    width: 34em
    div
      display: inline-block
      text-align: left !important
      direction: ltr
    .description
      width: 90%
    .timestamp
      width: 3em
  .medium
    font-size: 1em
    width: 2.7em
    height: 2.7em
  .fab
    position: absolute
  .small
    font-size: .8em
    width: 2.4em
    height: 2.4em
  .tasks
    width: 100%
</style>
