<template>
  <ui-modal header="مشروع جديد" :show.sync="showModal">
  <ui-textbox
    label="العنوان"
    :value.sync="title"
    name="project"
    v-el:update-task
    @keydown-enter="saveProject()"
    type="text"
    placeholder="أدخل عنوان المشروع"
  ></ui-textbox>
    <div slot="footer">
      <ui-button @click="saveProject()" color="primary">حفظ</ui-button>
      <ui-button @click="toggleProjectStoringModal()">إلغاء</ui-button>
    </div>
  </ui-modal>
</template>

<script>
import { UiModal, UiTextbox, UiButton } from 'keen-ui'
import Store from 'src/store/dao'
import utils from 'src/utils'

export default {
  data () {
    return {
      title: '',
      showModal: false,
      isUpdate: false,
      projectId: ''
    }
  },
  methods: {
    toggleProjectStoringModal () {
      this.showModal = !this.showModal
      if (this.showModal) {
        utils.focus('input[name=project]')
      } else {
        this.title = ''
        this.showModal = false
        this.isUpdate = false
        this.projectId = ''
      }
    },
    saveProject () {
      if (this.isUpdate) {
        this.updateProject()
      } else {
        this.storeProject()
      }
    },
    storeProject () {
      let project = {}
      project.title = this.title
      Store.saveProject(project, (err, savedProject) => {
        if (err) {
          utils.errors(err)
        } else {
          this.$dispatch('project-saved', savedProject)
        }
        this.toggleProjectStoringModal()
      })
    },
    updateProject () {
      let project = {}
      project.title = this.title
      project.id = this.projectId
      Store.updateProject(project, (err, count, savedProject) => {
        if (err) {
          utils.errors(err)
        } else {
          this.$dispatch('project-updated', savedProject)
        }
        this.toggleProjectStoringModal()
      })
    }
  },
  events: {
    'show-project-modal': function (project = {}) {
      if (project._id !== undefined) {
        this.isUpdate = true
        this.projectId = project._id
        this.title = project.title
      }
      this.toggleProjectStoringModal()
    }
  },
  components: { UiModal, UiTextbox, UiButton }
}
</script>
