<template>
  <div class="story">
    <ui-card>
      <div
          @dblclick="edit()"
          v-show="!editable"
          class="content"
          v-html="contentOutput"
      ></div>
      <textarea
        @keydown.esc="saveStory()"
        class="content"
        v-el:content-src
        v-show="editable"
        v-model="story.content">
      </textarea>
      <div id="spacer"></div>
      <div class="box group" slot="footer">
        <span class="acceptance-criteria">{{ acceptanceCriteria }}</span>
        <ui-icon-button
          v-if="story._id && $route.path.includes('/p/')"
          @click="goToBoard()"
          icon="launch"
          type="flat"
          color="primary"
          tooltip="عرض تفاصيل الهدف">
        </ui-icon-button>
        <span class="time-period">{{ timePeriod }}</span>
      </div>
    </ui-card>
  </div>
</template>

<script>
import marked from 'marked'
import { UiIconButton, UiTooltip } from 'keen-ui'
import UiCard from 'components/card'
import store from 'src/store/dao'
import utils from 'src/utils'

export default {
  props: {
    story: {
      type: Object,
      default: function () {
        return { content: '' }
      }
    }
  },
  data () {
    return {
      editable: false
    }
  },
  methods: {
    saveStory () {
      // is there a content with chars
      if (this.story.content.trim()) {
        // if story has id update it content
        if (this.story._id) {
          store.updateStory(this.story._id, {content: this.story.content}, (err, count, doc) => {
            if (err) console.error(err)
            this.editable = false
            utils.notify('لقد تم تحديث تفاصيل الهدف (القصة) بنجاح')
          })
        } else {
          // save new story and add it to stories board
          store.saveStory({content: this.story.content, project: this.$route.params.title}, (err, doc) => {
            if (err) console.error(err)
            this.story = doc.content
            this.$dispatch('story-saved', doc)
            utils.notify('لقد تم حفظ تفاصيل الهدف (القصة) بنجاح')
          })
        }
      }
    },
    edit () {
      this.editable = true // show textarea & hide output
      this.$nextTick(() => this.$els.contentSrc.focus()) // focus in textarea
    },
    goToBoard () {
      this.$router.go({name: 'story-details', params: {id: this.story._id}})
    }
  },
  computed: {
    acceptanceCriteria () {
      if (this.story._id) {
        let criteriaTotal = this.story.acceptanceCriteries.length
        let criteriaCompleted = 0

        return `${criteriaCompleted} / ${criteriaTotal}`
      }
      return '0 / 0'
    },
    timePeriod () {
      return '00:00'
    },
    contentOutput () {
      if (this.story.content) {
        return marked(this.story.content)
      }
      return ''
    }
  },
  components: { UiCard, UiIconButton, UiTooltip }
}
</script>

<style lang="stylus">
@import '~keen-ui/src/styles/imports'

.story
  margin: 1em
  display: inline-block
  height: fill-content
  vertical-align: top
  position: relative
.time-period
  position: absolute
  right: 1em

#spacer
  min-width: 90%
  height: 48px
  float: left
  display: inline-block

.ui-card
  min-height: fit-content
  position: relative
  background: #f9f9f9
  &-footer
    min-width: 90%
    position: absolute
    bottom: 0
.content, .content:focus
  resize: none
  margin: 0
  min-height: 45%
  padding: 1em
  border: 1px dashed #eee
  border-bottom: 0
  line-height: 1.5em
  outline: none
  p
    margin: 0
    padding: 0
textarea.content
  width: 92.5%
.ui-card-footer
  padding: 0 !important
  margin: 0 !important
  width: 99%
.group
  display: flex
  justify-content: space-between
  align-items: center
  width: 100%

.box
  height: 29px
  border-top: 1px solid $md-grey-200
  padding: 1em
  padding-bottom: .5em
  &.colored
    border: none
    background-color: $md-blue
  .ui-icon-button
    margin: auto
    width: 2em
    height: 2em
    margin-top: .2em
    &:last-child
      margin-right: 0
</style>
