<template>
  <div class="row">
    <ui-checkbox
      @click="toggleCheckbox(keys.criteriaIndex, keys.key)"
      class="col-md-9"
      :label="info.details"
      :model.sync="info.active"></ui-checkbox>
      <div class="col-md-3">
        <ui-icon-button
          class="small"
          @click="deleteTaskRequest(info)"
          icon="clear"
          color="warning"
          tooltip="حذف المهمة"
        >
        </ui-icon-button>
        <ui-icon-button
          class="small"
          @click="updateTask(keys.storyId, keys.criteriaIndex, keys.key, info.details)"
          icon="edit"
          color="success"
          tooltip="تحديث المهمة"
        >
        </ui-icon-button>
        <ui-icon-button
          v-show="!info.active"
          class="small"
          @click="toggleCounter()"
          :icon="statusIcon"
          color="default"
          tooltip="تفعيل وقت تشغيل المهمة"
        >
        </ui-icon-button>
      </div>
  </div>
</template>

<script>
import { UiCheckbox, UiIconButton } from 'keen-ui'
import Store from 'src/store/dao'
import utils from 'src/utils'
import Timer from 'tools/Timer'

export default {
  props: {
    info: {
      type: Object,
      required: true
    },
    keys: {
      type: Object,
      required: true
    }
  },
  ready () {
    if (this.info.timePeriod) {
      this.period = this.info.timePeriod
    }
  },
  data () {
    return {
      statusIcon: 'play_arrow',
      timer: null,
      period: 0,
      status: 'start'
    }
  },
  computed: {
    counter () {
      if (this.timer) {
        return this.timer.counter
      }
      return this.period
    }
  },
  methods: {
    toggleCheckbox (index, key) {
      // the change need 1ms to made to the model
      setTimeout(() => {
        let active = this.info.active
        let _id = this.keys.storyId
        // run the query
        Store.toggleTaskActivation({_id, index, key, active}, (err, count, docs) => {
          utils.errors(err)
        })
      }, 1)
    },
    updateTask (storyId, criteriaKey, taskKey, details) {
      let taskInfo = {storyId, criteriaKey, taskKey, details}
      this.$dispatch('show-update-task-modal', taskInfo)
    },
    removeTask (storyId, criteriaIndex, taskIndex, task) {
      let keys = {storyId, criteriaIndex, taskIndex, task}
      Store.removeTask(keys, (err, count) => {
        utils.errors(err)
        // if (count > 0) {
        //   this.info = null
        // }
        this.$dispatch('remove-task', taskIndex)
        utils.notify('لقد تم حذف المهمة بنجاح')
      })
    },
    deleteTaskRequest (task) {
      this.$dispatch('delete-task-request', task)
    },
    startCounter () {
      this.timer = new Timer(this, this.period)
      this.timer.start()
      this.statusIcon = 'pause'
      this.status = 'stop'
    },
    stopCounter () {
      // save counter
      const counter = this.timer.counter
      // change status
      this.status = 'start'
      this.statusIcon = 'play_arrow'
      // stop timer counter
      this.timer.stop()
      // prepare keys for dao
      const locator = {
        _id: this.keys.storyId,
        index: this.keys.criteriaIndex,
        key: this.keys.key
      }
      // save time counter
      Store.saveTaskCounter(counter, locator, (err, count) => { utils.errors(err) })
      this.period = counter
    },
    toggleCounter () {
      if (this.status === 'start') {
        this.startCounter()
      } else {
        this.stopCounter()
      }
    }
  },
  events: {
    'delete-task-command': function (task) {
      this.removeTask(this.keys.storyId, this.keys.criteriaIndex, this.keys.key, task)
    }
  },
  components: { UiCheckbox, UiIconButton }
}
</script>

<style lang="stylus">
  .small
    font-size: .8em
    width: 2.4em
    height: 2.4em
  .ui-checkbox-checkmark
    min-width: 1.25em
</style>
