<template>
  <ui-modal :show.sync="showModal" header="تسجيل معيار للقياس">
    <ui-textbox
      label="الوصف"
      :value.sync="title"
      name="description"
      v-el:new-criteria
      @keydown-enter="commitCriteria()"
      type="text"
      placeholder="أضف وصف معيار القياس"
    ></ui-textbox>
    <div slot="footer">
      <ui-button @click="commitCriteria()" color="primary">حفظ</ui-button>
      <ui-button @click="toggleCriteriaForm()">إلغاء</ui-button>
    </div>
  </ui-modal>
</template>

<script>
import { UiModal, UiTextbox, UiButton } from 'keen-ui'
import Store from 'src/store/dao'
import utils from 'src/utils'

export default {
  props: {
    storyId: {
      type: String
      // ,required: true
    }
  },
  data: function () {
    return {
      title: '',
      showModal: false,
      criteria: {description: '', tasks: []},
      criteriaId: 0,
      updateOperation: false
    }
  },
  methods: {
    toggleCriteriaForm () {
      this.showModal = !this.showModal
      utils.focus('input[name=description]')
      if (!this.showModal) {
        this.title = ''
        this.storyId = ''
        this.criteriaId = 0
        this.updateOperation = false
        this.criteria = {description: '', tasks: []}
      }
    },
    commitCriteria () {
      if (this.updateOperation) {
        this.updateCriteria()
      } else {
        this.storeCriteria()
      }
    },
    updateCriteria () {
      let info = {}
      info._id = this.storyId
      info.index = this.criteriaId
      Store.updateCriteriaDetails(this.title, info, (err, count, docs) => {
        utils.errors(err)
        this.$dispatch('story-data-updated', info._id)
        this.toggleCriteriaForm()
        utils.notify('لقد تم تحديث تفاصيل معيار القياس بنجاح')
      })
    },
    storeCriteria () {
      this.criteria.description = this.title
      Store.saveCriteria(this.storyId, this.criteria, (err, numAffected, affectedDocuments) => {
        utils.errors(err)
        this.$dispatch('push-criteria', this.criteria)
        this.toggleCriteriaForm()
        utils.notify('لقد تم حفظ تفاصيل معيار القياس بنجاح')
      })
    }
  },
  events: {
    'show-criteria-form': function (info) {
      this.toggleCriteriaForm()
      if (info.updateOperation === undefined && info.details) {
        this.title = info.details
        this.storyId = info.keys.story
        this.criteriId = info.keys.criteria
        this.updateOperation = true
      } else {
        this.storyId = info.storyId
      }
    },
    'update-criteria-title': function () {
      this.showModal = true
    }
  },
  components: { UiModal, UiTextbox, UiButton }
}
</script>
