<template>
  <ui-modal header="تحديث مهمة" :show.sync="showModal">
  <ui-textbox
    label="الوصف"
    :value.sync="taskInfo.details"
    name="details"
    v-el:update-task
    @keydown-enter="updateTask()"
    type="text"
    placeholder="أدخل تفاصيل المهمة"
  ></ui-textbox>
    <div slot="footer">
      <ui-button @click="updateTask()" color="primary">حفظ</ui-button>
      <ui-button @click="toggleTaskUpdatingModal()">إلغاء</ui-button>
    </div>
  </ui-modal>
</template>

<script>
import { UiModal, UiTextbox, UiButton } from 'keen-ui'
import Store from 'src/store/dao'
import utils from 'src/utils'

export default {
  data () {
    return {
      details: '',
      showModal: false,
      taskInfo: {
        details: ''
      }
    }
  },
  methods: {
    toggleTaskUpdatingModal () {
      this.showModal = !this.showModal
      if (this.showModal) {
        utils.focus('input[name=details]')
      }
    },
    updateTask () {
      let info = {}
      info._id = this.taskInfo.storyId
      info.index = this.taskInfo.criteriaKey
      info.key = this.taskInfo.taskKey
      Store.updateTaskDetails(this.taskInfo.details, info, (err, count, docs) => {
        utils.errors(err)
        this.$dispatch('story-data-updated', this.taskInfo.storyId)
        this.toggleTaskUpdatingModal()
        utils.notify('لقد تم تحديث تفاصيل المهمة بنجاح')
      })
    }
  },
  events: {
    'show-update-task-modal': function (taskInfo) {
      this.toggleTaskUpdatingModal()
      this.taskInfo = taskInfo
    }
  },
  components: { UiModal, UiTextbox, UiButton }
}
</script>
