/* Turn on custom 8px wide scrollbar */
::-webkit-scrollbar
  width: 10px /* 1px wider than Lion. */
  /* This is more usable for users trying to click it. */
  background-color: rgb(0, 0, 0)
  background-color: rgba(0, 0, 0, 0)
  border-radius: 100px

/* hover effect for both scrollbar area, and scrollbar 'thumb' */
::-webkit-scrollbar:hover
  background-color: rgb(0, 0, 0)
  background-color: rgba(0, 0, 0, .09)


/* The scrollbar 'thumb' ...that marque oval shape in a scrollbar */
::-webkit-scrollbar-thumb:vertical
  background: rgb(0, 0, 0)
  background: rgba(0, 0, 0, .5)
  background-clip: padding-box
  border: 2px solid rgb(0, 0, 0)
  border: 2px solid rgba(0, 0, 0, 0)
  border-radius: 100px
  min-height: 10px /*Prevent it from getting too small */

::-webkit-scrollbar-thumb:vertical:active
  background: rgb(0, 0, 0) /* Some darker color when you click it */
  background: rgba(0, 0, 0, .61) /* Some darker color when you click it */
  border-radius: 100px
