$light-gray = #dddddd
$caption-color = #777777
$white = #ffffff
$striped-background-color = #f9f9f9

$hover-color = #f5f5f5
$active-hover-color = #e8e8e8

$hover-success-color = #d0e9c6
$hover-info-color = #c4e3f3
$hover-warning-color = #faf2cc
$hover-danger-color = #ebcccc

$active-captioner = #f5f5f5
$success-captioner = #dff0d8
$info-captioner = #d9edf7
$warning-captioner = #fcf8e3
$danger-captioner = #f2dede

table
  background-color: transparent
  border-collapse: collapse
  border-spacing: 0

  td, th
    padding: 0

  caption
    color: $caption-color
    padding-bottom: 8px
    padding-top: 8px
    text-align: left
  th
    text-align: left


.table
  margin-bottom: 20px
  max-width: 100%
  width: 100%

  & > thead > tr > th,
  & > tbody > tr > th,
  & > tfoot > tr > th,
  & > thead > tr > td,
  & > tbody > tr > td,
  & > tfoot > tr > td
    border-top: 1px solid $light-gray
    line-height: 1.42857143
    padding: 8px
    vertical-align: top


  & > thead > tr > th
    border-bottom: 2px solid $light-gray
    vertical-align: bottom

  & > caption + thead > tr:first-child > th,
  & > colgroup + thead > tr:first-child > th,
  & > thead:first-child > tr:first-child > th,
  & > caption + thead > tr:first-child > td,
  & > colgroup + thead > tr:first-child > td,
  & > thead:first-child > tr:first-child > td
    border-top: 0


  & > tbody + tbody
    border-top: 2px solid $light-gray

  & > thead > tr > td.active,
  & > tbody > tr > td.active,
  & > tfoot > tr > td.active,
  & > thead > tr > th.active,
  & > tbody > tr > th.active,
  & > tfoot > tr > th.active,
  & > thead > tr.active > td,
  & > tbody > tr.active > td,
  & > tfoot > tr.active > td,
  & > thead > tr.active > th,
  & > tbody > tr.active > th,
  & > tfoot > tr.active > th
    background-color: $active-captioner

  & > thead > tr > td.success,
  & > tbody > tr > td.success,
  & > tfoot > tr > td.success,
  & > thead > tr > th.success,
  & > tbody > tr > th.success,
  & > tfoot > tr > th.success,
  & > thead > tr.success > td,
  & > tbody > tr.success > td,
  & > tfoot > tr.success > td,
  & > thead > tr.success > th,
  & > tbody > tr.success > th,
  & > tfoot > tr.success > th
    background-color: $success-captioner

  & > thead > tr > td.info,
  & > tbody > tr > td.info,
  & > tfoot > tr > td.info,
  & > thead > tr > th.info,
  & > tbody > tr > th.info,
  & > tfoot > tr > th.info,
  & > thead > tr.info > td,
  & > tbody > tr.info > td,
  & > tfoot > tr.info > td,
  & > thead > tr.info > th,
  & > tbody > tr.info > th,
  & > tfoot > tr.info > th
    background-color: $info-captioner

  & > thead > tr > td.warning,
  & > tbody > tr > td.warning,
  & > tfoot > tr > td.warning,
  & > thead > tr > th.warning,
  & > tbody > tr > th.warning,
  & > tfoot > tr > th.warning,
  & > thead > tr.warning > td,
  & > tbody > tr.warning > td,
  & > tfoot > tr.warning > td,
  & > thead > tr.warning > th,
  & > tbody > tr.warning > th,
  & > tfoot > tr.warning > th
    background-color: $warning-captioner

  & > thead > tr > td.danger,
  & > tbody > tr > td.danger,
  & > tfoot > tr > td.danger,
  & > thead > tr > th.danger,
  & > tbody > tr > th.danger,
  & > tfoot > tr > th.danger,
  & > thead > tr.danger > td,
  & > tbody > tr.danger > td,
  & > tfoot > tr.danger > td,
  & > thead > tr.danger > th,
  & > tbody > tr.danger > th,
  & > tfoot > tr.danger > th
    background-color: $danger-captioner

.table
  .table
    background-color: $white

.table-condensed
  & > thead > tr > th,
  & > tbody > tr > th,
  & > tfoot > tr > th,
  & > thead > tr > td,
  & > tbody > tr > td,
  & > tfoot > tr > td
    padding: 5px


.table-bordered
  border: 1px solid $light-gray

  & > thead > tr > th,
  & > tbody > tr > th,
  & > tfoot > tr > th,
  & > thead > tr > td,
  & > tbody > tr > td,
  & > tfoot > tr > td
    border: 1px solid $light-gray

  & > thead > tr > th,
  & > thead > tr > td
    border-bottom-width: 2px


.table-striped > tbody > tr:nth-of-type(odd)
  background-color: $striped-background-color


.table-hover > tbody > tr:hover
  background-color: $hover-color


table col[class*="col-"]
  display: table-column
  float: none
  position: static


table td[class*="col-"],
table th[class*="col-"]
  display: table-cell
  float: none
  position: static

.table-hover
  & > tbody > tr > td.active:hover,
  & > tbody > tr > th.active:hover,
  & > tbody > tr.active:hover > td,
  & > tbody > tr:hover > .active,
  & > tbody > tr.active:hover > th
    background-color: $active-hover-color

  & > tbody > tr > td.success:hover,
  & > tbody > tr > th.success:hover,
  & > tbody > tr.success:hover > td,
  & > tbody > tr:hover > .success,
  & > tbody > tr.success:hover > th
    background-color: $hover-success-color

  & > tbody > tr > td.info:hover,
  & > tbody > tr > th.info:hover,
  & > tbody > tr.info:hover > td,
  & > tbody > tr:hover > .info,
  & > tbody > tr.info:hover > th
    background-color: $hover-info-color

  & > tbody > tr > td.warning:hover,
  & > tbody > tr > th.warning:hover,
  & > tbody > tr.warning:hover > td,
  & > tbody > tr:hover > .warning,
  & > tbody > tr.warning:hover > th
    background-color: $hover-warning-color

  & > tbody > tr > td.danger:hover,
  & > tbody > tr > th.danger:hover,
  & > tbody > tr.danger:hover > td,
  & > tbody > tr:hover > .danger,
  & > tbody > tr.danger:hover > th
    background-color: $hover-danger-color

.table-responsive
  min-height: .01%
  overflow-x: auto

@media screen and (max-width: 767px)
  .table-responsive
    border: 1px solid $light-gray
    margin-bottom: 15px
    overflow-y: hidden
    width: 100%

    & > .table
      margin-bottom: 0
    & > thead > tr > th,
    & > tbody > tr > th,
    & > tfoot > tr > th,
    & > thead > tr > td,
    & > tbody > tr > td,
    & > tfoot > tr > td
      white-space: nowrap

    & > .table-bordered
      border: 0
      & > thead > tr > th:first-child,
      & > tbody > tr > th:first-child,
      & > tfoot > tr > th:first-child,
      & > thead > tr > td:first-child,
      & > tbody > tr > td:first-child,
      & > tfoot > tr > td:first-child
        border-left: 0
      & > thead > tr > th:last-child,
      & > tbody > tr > th:last-child,
      & > tfoot > tr > th:last-child,
      & > thead > tr > td:last-child,
      & > tbody > tr > td:last-child,
      & > tfoot > tr > td:last-child
        border-right: 0
      & > tbody > tr:last-child > th,
      & > tfoot > tr:last-child > th,
      & > tbody > tr:last-child > td,
      & > tfoot > tr:last-child > td
        border-bottom: 0
